<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/gallery">GALLERY<3</a></li>
    <li><a href="/contact">CONTACT</a></li> 
    <li><a href="/values">VALUES</a></li>
    <li><a href="/articles">ARTICLES</a></li>
</ul>