{% extends 'partials/layout.njk'%}
{% block content %}
    <h1> SILLY VALUES!!!</h1>
    <ol>
        <li>work</li>        
        <li>silliness</li>
        <li>funkiness</li>        
        <li>kms</li>        
        <li>lecole</li>
    </ol>
{% endblock %}